.fbtn{
    text-align: center;
    align-items: center;
}
.lastbtn{
    height: 50px;
    width: 100px;
    background-color: rgba(7, 8, 42, 0.911);
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}